@keyframes slideRight {
    from {left: 0px;}
    to {left: 30px;}
}

.section {
    box-sizing: border-box;
    border: 3px solid maroon;
    padding: 3rem;
    background: burlywood;
    min-width: 80%;
    float: left;
    margin: 20px;
}

body {
    background: black;
    font-size: large;
}

button {
    background-color: maroon;
    border-radius: 20px;
    border-color: black;
    color: white;
}

.form {
    float: left;
    margin-right: 100px;
    min-width: 20vw;
    margin-bottom: 150px;
}

.wob {
    box-sizing: border-box;
    color: maroon;
}

.strengthsBoxes {
    box-sizing: border-box;
    width: max-content;
    height:max-content;
    min-height: 20px;

    min-width: 40px;
    border: 3px solid maroon;
    float: left;
}

.strengths {
    background-color: maroon;
    color: white;
    margin: 0px;
}

.emptyBoxes {
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    min-width: 30px;
    min-height: 40px;
    border: 3px solid maroon;
}

ol {
    width: 100%;
}

td {
    width: 200px;
    margin: 20px;
}

td input {
    width: 40px;
    float: right;
    margin-right: 70px;
}

td p {
    margin: 0px;
    margin-right: 50px;
    float: right;
}

td div {
    float: right;
    margin-right: 80px;
}

#power-selection {
    float: left;
    margin-right: 200px;
}

#race-selection {
    float: right;
}

/* #powersBlock {
    visibility: hidden;
} */

#backstory {
    width: 300px;
    height: 200px;
}

input[type="radio"] {
    visibility: hidden;
}

#backstorydiv {
    display: block;
    overflow: auto;
}