#header {
    display:flex;
    height: 6rem;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: black;
    color: silver;    
}

body > * {
    background-color: maroon;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
    font-size: 2em;
    padding: 1em;
}

input[type='number'] {
    width:50px;
}

td.middle, th.middle {
    border-right: 2px solid white;
    border-left: 2px solid white;
}

tr.headings {
    border-bottom: 2px solid white;
}

#nav_links {
    font-size: 0.75em;
    margin-right: 2rem;
    font-weight: bold;
    min-width:max-content;
}

.flashes {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    background-color: mediumspringgreen;
    color: black;
    padding: 1.25em;
}

.flashes > .message[category='warning'] {
    background-color: red;
}

.errors > * {
    background-color:silver;
    color: maroon;
    padding: 0.5em;
}

h2 {
    margin: 1rem;
}

h3 {
    margin-left: 1rem;
    width: max-content;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, .submit:hover {
    color: white;
    font-size: 1.1em;
    border: 1px solid silver;
    border-radius: 2px;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside {
    box-sizing: border-box;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
    background-color: maroon;
    float: right;
    width: 35%;
    min-width: 300px;
    height: 17.5em;
    font-size: 1.5em;
    text-align: center;
}

aside > div {
    margin-bottom: 2em;
    margin-top: 1em;
}

form {
    box-sizing: border-box;
    width: 50%;
    min-width: 500px;
    /* background-color: maroon; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 3em;
    font-size: 2em;
}

input, label {
    margin: 1rem;
    font-size: inherit;
    max-width: 80%;
}

.submit {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

input[type='checkbox'] {
    box-sizing: content-box;
    width: 0.75em;
    height: 0.75em;
}