{% extends "base.html" %}
{% from '_macros.html' import show_prefs %}

{% block title %}Crew Search{% endblock %}

{% block content %}
    <div>
        <ul>
            Searching for crews to match: {{ show_prefs(pref) }}
        </ul>
    </div>
    <div>
        {% for crew in crews %}
            <p><a href="{{ url_for('crew.view_crew', crew_id=crew.crew_id) }}">{{ crew.name }}</a> | {{ show_prefs(crew.preferences) }} <a href="{{ url_for('crew.send_request', crew_id=crew.crew_id) }}">Request to Join</a></p>
        {% endfor %}
    </div>

{% endblock %}