{% extends "base.html" %}

{% block title %}{{ current_user.username }}'s Profile{% endblock %}

{% block content %}
    <div>
        {{ current_user.username }}'s Account Page
    </div>

    <div>
        My Characters:
        {% if current_user.characters %}
            <ul>
            {% for character in current_user.characters %}
                <li>{{ character.name }} | {{ character.concept }}</li>
            {% endfor %}
            </ul>
        {% else %}
        {% endif %}

    </div>

    <div>
        My Groups:
        
    </div>
{% endblock %}