{% extends "base.html" %}
{% from "_macros.html" import show_prefs %}

{% block title %}{{ current_user.username }}'s Profile{% endblock %}

{% block content %}
    <div>
        {{ current_user.username }}'s Account Page
    </div>
    <br>
    <div>
        My Characters:
        {% if current_user.characters %}
            <ul>
            {% for character in current_user.characters %}
                <li>{{ character.name }} | {{ character.concept }} | {{ show_prefs(character.preferences) }} | Crew: {% if character.crew %}{{ character.crew }}{% else %}<a href="{{ url_for('crew.search', char_prefs = character.preferences) }}">Find a crew</a>{% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
        {% endif %}
        <a href="{{ url_for('char.create_new') }}">Create new character</a>
    </div>

    <div>
        My Crews:
        {% if current_user.crews %}
            <ul>
                {% for crew in current_user.crews %}
                    <li>{{ crew.name }} | Size: {{ crew.characters|length }} | Seeking new crew members? {{ crew.seeking }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ url_for('crew.add_crew') }}">Create new crew</a>
    </div>
{% endblock %}