{% extends "base.html" %}

{% block title %}Register New User{% endblock %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <h2>Register for an account</h2>
    {{ form.username.label }}<br>
    {{ form.username }}
    {% if form.username.errors %}
        <ul class="errors" >
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form.password.label }}<br>
    {{ form.password(placeholder='At least 10 characters long') }}
    {% if form.password.errors %}
        <ul class="errors" >
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form.password_confirm.label }}<br>
    {{ form.password_confirm(placeholder='At least 10 characters long') }}
    {% if form.password_confirm.errors %}
        <ul class="errors" >
            {% for error in form.password_confirm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    {{ form.recaptcha }}
    {{ form.submit(class='submit') }}
    <br>


</form>

{% endblock %}